<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/ericsson_i1.png}"
						class="img-responsive center-block" width="400" height="400"
						alt="Beer" />
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>

	</div>
	<table class="table table-striped">
		<tr>
			<th>Order Number</th>
			<th>Product Description</th>
			<th>Delivery Address</th>
			<th>Contact Number</th>
		</tr>
		<tr th:each="allusers : ${users}" >

			<td th:text="${allusers.name}"></td>
			<td th:text="${allusers.email}"></td>
			<td th:text="${allusers.roles}">yes</td>
			<td th:text="${allusers.email}? #{1} : #{2}">yes</td>
			<td th:text="${#lists.size(allusers.roles)}">yes</td>

		</tr>
	</table>

	<table class="table table-striped">
		<tr>
			<th>Order Number</th>
			<th>Product Description</th>
			<th>Delivery Address</th>
			<th>Contact Number</th>
		</tr>

		<tr th:each="allusers : ${roles}">
			<td th:text="${allusers}"></td>
		</tr>

	</table>

	<ul th:each="allusers : ${users}">
		<li th:each="excursion : ${allusers}">
			<h2 th:text="${excursion.roles}"></h2>
			
	</ul>
</body>
</html>